<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.754.4" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.754.4" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.754.4" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
</packages>
